@model NetCorePostgresSqlTelerik.Models.Prenotazioni

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prenotazioni</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCorso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCorso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUtente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUtente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
